<! DOCTYPE html>
<html>
    <head>
       <title>Jedność Chrześcijan we wspólnej dacie Wielkanocy</title>
        
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ app.request.getbaseurl }}/shared/css/others/grid.css">
        <link rel="stylesheet" type="text/css" href="{{ app.request.getbaseurl }}/shared/css/others/normalize.css">
         <link rel="stylesheet" type="text/css" href="{{ app.request.getbaseurl }}/shared/css/others/ionicons.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ app.request.getbaseurl }}/shared/css/layout.css">
        <link rel="stylesheet" type="text/css" href="{{ app.request.getbaseurl }}/shared/css/resize.css" media="screen">
        
    <header>
        <div class="logo">
        
            <img src="{{ app.request.getbaseurl }}/shared/images/pol-banner-Rom12-5%20(1).jpg" alt="logo image">
        
        </div>
        
     </header>
        
    </head>
    
    <body>
    {% include "layout/pol-navbar.php.twig" %}
    <div class="content">
    