<div class="topnav" id="myTopnav">
   <div class="dropdown">
    <button class="dropbtn">Polska 
      <i class="ion-chevron-down"></i>
    </button>
    <div class="dropdown-content">
        
      <a href="{{ app.url_generator.generate('ch-index') }}">Chinese</a>
      <a href="{{ app.url_generator.generate('cz-index') }}">Czech</a>
      <a href="{{ app.url_generator.generate('dan-index') }}">Danish</a>
      <a href="{{ app.url_generator.generate('deu-index') }}">Deutsch</a>
      <a href="{{ app.url_generator.generate('esp-index') }}">Espanol</a>
      <a href="{{ app.url_generator.generate('index') }}">English</a>
      <a href="{{ app.url_generator.generate('gr-index') }}">Greek</a>
      <a href="{{ app.url_generator.generate('fr-index') }}">Francais</a>
      <a href="{{ app.url_generator.generate('hu-index') }}">Hungarian</a>
      <a href="{{ app.url_generator.generate('it-index') }}">Italiano</a>
      <a href="{{ app.url_generator.generate('jap-index') }}">Japanese</a>
      <a href="{{ app.url_generator.generate('ned-index') }}">Nederlands</a>
      <a href="{{ app.url_generator.generate('por-index') }}">Portuguese</a>
      <a href="{{ app.url_generator.generate('rus-index') }}">Russian</a>
    </div>
  </div>  
  <a href="{{ app.url_generator.generate('pol-index') }}">Strona główna</a>  
  <a href="{{ app.url_generator.generate('pol-diff-dates') }}">Różne daty?</a>
  <a href="{{ app.url_generator.generate('pol-why-one-date') }}">Dlaczego wspólna data?</a>
  <a href="{{ app.url_generator.generate('pol-what-can-we-do') }}">Co możemy zrobić?</a>
  <a href="{{ app.url_generator.generate('pol-endorsement') }}">Endorsements</a>
  <a href="{{ app.url_generator.generate('pol-inspiration') }}">Inspiracja</a>
  <a href="{{ app.url_generator.generate('pol-sign-petition') }}">Głosuj za wspólną datą</a>
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>

<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
